<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>Acodal.WebApi.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CongresoAcodalEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=acodal.cdq4ipzryanb.us-east-1.rds.amazonaws.com,1433;Initial Catalog=CongresoAcodal;Persist Security Info=True;User ID=ToolSoft;Password=HellBoy1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=acodal.cdq4ipzryanb.us-east-1.rds.amazonaws.com,1433;Initial Catalog=CongresoAcodal;User ID=ToolSoft;Password=HellBoy1;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CongresoAcodalEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/AcodalDB.csdl|res://*/AcodalDB.ssdl|res://*/AcodalDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=acodal.cdq4ipzryanb.us-east-1.rds.amazonaws.com,1433;User ID=ToolSoft; PassWord=HellBoy1;initial catalog=CongresoAcodal;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CongresoAcodalEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/AcodalDB.csdl|res://*/AcodalDB.ssdl|res://*/AcodalDB.msl;provider=System.Data.SqlClient;provider connection string="data source=acodal.cdq4ipzryanb.us-east-1.rds.amazonaws.com,1433;initial catalog=CongresoAcodal;persist security info=True;user id=ToolSoft;password=HellBoy1;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>